<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo15</title>
</head>
<body>
    <h1>Ola Mundo.</h1>
    {% for produto in produtos %}
        <p>{{ produto.produto_01 }}</p>    
        <p>{{ produto.produto_02 }}</p>    
        <p>{{ produto.produto_03 }}</p>    
    {% endfor %}

    {% if messages %}
    <div class="main-content center container messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="main-content container">
        <form action="{{ form_action }}" method='POST'>  
            {% csrf_token %}
    
            <div class="form-content form-content-grid">
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{field}}
    
                        {% if field.help_text %}
                            <p class="help-test">
                                {{field.help_text}}
                            </p>
                        {% endif %}
    
                        {{ field.errors }}
                    </div>    
                {% endfor %}
            </div>
            
            {% if form.errors %}
                <div class="form-content form-content-grid"> 
                    <div class="form-group">
                        <div class="message message-error">
                            There are erros in the form, please fix them and send again.
                        </div>
                    </div>
                </div>
            {% endif %}
    
            <div class="form-content form-content-grid"> 
                <div class="form-group">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>


    </form>


</body>
</html>